{% set title = 'watchlist.title'|trans %}
{% extends 'base.html.twig' %}
{% block content %}
{% include 'includes/breadcrumb.html.twig' %}
    <div class="filter"></div>
    <!-- catalog -->
    <div class="catalog">
        <div class="container">
            <div class="row">
                <!-- card -->
                {% for media in medias %}
                    {% if media.mediaType == 'movie' %}
                        {% set media_name = media.data.title %}
                        {% set media_url = path('movie-details', {movieId: media.data.id}) %}
                    {% elseif media.mediaType == 'tv' %}
                        {% set media_name = media.data.name %}
                        {% set media_url = path('tv-show-details', {tvShowId: media.data.id}) %}
                    {% endif %}
                <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="{{ media.data.poster_path|mediaURL('w342') }}" alt="">
                            <a href="{{ media_url }}" class="card__play">
                                <i class="icon ion-ios-resize"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title"><a href="{{ media_url }}">{{ media_name }}</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end card -->
            </div>
        </div>
    </div>
    <!-- end catalog -->
{% endblock content %}