<section class="section section--first section--bg" data-bg="{{ asset('img/section/section.jpg') }}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    {% if empty_breadcrumb is not defined %}
                    <!-- section title -->
                    <h2 class="section__title">{{ title|default('Undefined') }}</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Item 1</a></li>
                        <li class="breadcrumb__item"><a href="#">Item 2</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Item 3</li>
                    </ul>
                    <!-- end breadcrumb -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>