<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FSAList: {{ title|default('Undefined') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'includes/styles.html.twig' %}
    </head>
    <body class="body">
        {% block body %}{% endblock %}
        {% include 'includes/scripts.html.twig' %}
    </body>
</html>
