{% set title = 'global.cookies-policy'|trans %}
{% extends 'base.html.twig' %}
{% block content %}
{% include 'includes/breadcrumb.html.twig' %}
    <section class="section">
        <div class="container">
            <div class="row">
                <!-- section text -->
                <div class="col-12">
                    <h1 class="section__title">Présentation :</h1>
                    <p class="section__text"> FSAList souhaite vous informer de manière claire et transparente sur l'usage des cookies lorsque vous consultez le site fsalist.com
                        <br><br>
                        Le terme « cookie » recouvre les différents traceurs qui sont déposés ou lus sur votre terminal (ordinateur, tablette, smartphone…) lors de votre navigation sur des pages internet sous réserve des choix que vous avez exprimés.Les cookies sont utilisés sur le site fsalist.com pour différentes finalités, pour faciliter votre navigation, pour vous proposer des contenus et publicités personnalisés ou pour réaliser des statistiques de visites.</p>

                    <h1 class="section__title">Fonctionnement :</h1>
                    <p class="section__text">Un cookie est lu ou transmis par le serveur du site internet à votre navigateur qui l’enregistre sur votre terminal. A chaque cookie est attribué un identifiant qui permet à son émetteur d'identifier le terminal dans lequel il est enregistré pendant la durée de validité ou d'enregistrement du cookie concerné.</p>

                </div>
                <!-- end section text -->
            </div>
        </div>
    </section>
{% endblock content %}