{% set title = 'global.privacy-policy'|trans %}
{% extends 'base.html.twig' %}
{% block content %}
{% include 'includes/breadcrumb.html.twig' %}
    <section class="section">
        <div class="container">
            <div class="row">
                <!-- section text -->
                <div class="col-12">
                    <h1 class="section__title">Identification :</h1>

                    <h2 class="section__text">FSAList.com</h2>

                    <p class="section__text">FSAList SARL - Siege social : 145 rue des Lilas 78400 Chatou - N° de téléphone : 01.01.02.03.04</p><br>

                    <h1 class="section__title">Hébergeur :</h1>

                    <p class="section__text">Le site est hébergé par <a href="https://www.ovh.com">OVH :</a> <br> OVH SAS - RCS Lille Métropole 424 761 419 00045 -
                        Code APE 2620Z - N° TVA : FR 22 424 761 419 - Siège social : 2 rue Kellermann - 59100 Roubaix - France<p><br>


                    <h1  class="section__title">Données personnelles :</h1>

                    <p class ="section__text">D'une façon générale, vous pouvez visiter notre site sur Internet sans avoir à décliner votre identité et à fournir des informations personnelles vous concernant. Cependant, nous pouvons parfois vous demander des informations. Par exemple, établir une correspondance ou créer un compte. Nous pouvons compléter ces informations pour offrir un meilleur service.</p><br>

                    <h1 class="section__title">Informations diverses :</h1>

                    <p class ="section__text"> - <a href="https://www.internet-signalement.gouv.fr/PortailWeb/planets/Accueil!input.action">Signaler un contenu illicite</a></p>
                    <p class ="section__text"> - <a href="{{ path('cookies') }}">Politique de FSAList vis-à-vis des cookies</a></p>
                </div>
                <!-- end section text -->
            </div>
        </div>
    </section>
{% endblock content %}