{% set title = 'auth.title.forgot'|trans %}

{% extends 'auth/base.html.twig' %}

{% block content %}
    {% include 'auth/logo.html.twig' %}
    <div class="sign__group">
        <input type="text" class="sign__input" placeholder="{{ 'auth.email'|trans }}">
    </div>

    <button class="sign__btn" type="button">{{ 'auth.forgot'|trans }}</button>

    <span class="sign__text">{{ 'auth.forgot-notice'|trans }}</span>
{% endblock content %}